[submodule "Technical-Projects/Expense-Tracker-API"]
	path = Technical-Projects/Expense-Tracker-API
	url = https://github.com/coralmejia/expense-tracker-api_1.git
[submodule "Technical-Projects/Inventory-App-MySQL"]
	path = Technical-Projects/Inventory-App-MySQL
	url = https://github.com/coralmejia/inventory_app_project_v2_mysql.git
[submodule "Technical-Projects/Cars-React"]
	path = Technical-Projects/Cars-React
	url = https://github.com/coralmejia/react_cars_demo.git
[submodule "skrs-app"]
	path = skrs-app
	url = https://github.com/Easy-Scrum-Easy-Go/snkrs-app.git
[submodule "Technical-Projects/skrs-app"]
	path = Technical-Projects/skrs-app
	url = https://github.com/Easy-Scrum-Easy-Go/snkrs-app.git
[submodule "Technical-Projects/Project-1"]
	path = Technical-Projects/Project-1
	url = https://github.com/Multiverse-Project-1/Project-1.git
